<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-brandi ms-2" >
            <a href="#">LABO masi</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-5">
                    <a th:href="@{/}" class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item ms-5">
                    <a th:href="@{/admin/members}" class="nav-link active" href="#">Members</a>
                </li>
                <li class="nav-item ms-5">
                    <a th:href="@{/admin/projects}" class="nav-link active" aria-current="page">Projects</a>
                </li>
                <li class="nav-item ms-5">
                    <a th:href="@{/admin/pubs}" class="nav-link active" aria-current="page" href="#">publications</a>
                </li>
                <!--                <li class="nav-item ms-5" th:if="${param.success}">-->
                <!--                    <a class="nav-link active" aria-current="page" href="#">Ressources</a>-->
                <!--                </li>-->
                <li class="nav-item ms-5">
                    <a th:href="@{/admin/ressources}" class="nav-link active" aria-current="page" href="#">Ressources</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <a class="btn btn-outline-danger me-5" type="submit" th:href="@{/logout}">Logout</a>
            </ul>
        </div>
    </div>
</nav>


    <div class="containerc project_container mt-5">
        <h2>Add New Project</h2>

        <form action="#" th:action="@{/admin/saveProject}" th:object="${project}" method="POST">
            <input type="text" th:field="*{projectName}" placeholder="Project Name" class="form-control project_form mb-4 col-4">
            <input type="text" th:field="*{responsible}" placeholder="Name of the Responsible" class="form-control project_form mb-4 col-4">
            <input type="text" th:field="*{period}" placeholder="The Period of the Project" class="form-control project_form mb-4 col-4">
            <input type="text" th:field="*{status}" placeholder="Status of the project" class="form-control project_form mb-4 col-4">

            <button type="submit" class="btn btn-success col-4">Save Project</button>
        </form>
        <br>
        <a th:href="@{/admin/projects}" class="btn btn-info col-2"> Back to Projects List</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>